
<h1 style="text-align:center"> Post Data </h1>


<table class="table table-bordered">

    @foreach (var item in ViewBag.post)
    {
        @if (item.userId == 1)
        {
             <tr style="background-color:cyan">
                <td> @item.userId </td>
                <td> @item.id </td>
                <td> @item.title </td>
               
        </tr>
        }
        else
        {
             <tr>
                <td> @item.userId </td>
                <td> @item.id </td>
                <td> @item.title </td>
           
        </tr>
        }

       
    }

</table>